body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(image/afif-kusuma-esSYEOq4s9U-unsplash.jpg);
    background-size: cover;
    height: 90vh;
    background-position: center;
    font-family: "Montserrat", serif;
  }
  
  .login-page{
    width: 360px;
    padding: 1% 0 0;
    margin: auto;
  }
  
  h1{
    margin-left: auto;
    color:#fff ;
  }
  
  .form{
    position: relative;
    z-index: 1;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    margin-top: 25%;
    padding: 75px 45px 45px;
    text-align: center;
    border-radius: 30px;
    height: 400px;
  }
  
  
  .form input{
    font-family: sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    margin-bottom: 10%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 13px;
    color: rgb(84, 84, 87);
    border-radius: 5px;
  }
  
  .form button{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf4c;
    width: 30%;
    border: 0;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: width 1s;
  }

  
  .form button:hover,
  .form button:active{
    background: #43a047;
    width: 50%;
  }

  .footer{
    color: #fff;
    position: relative;
    bottom: 0px;
    text-align: center;
  }
  
  /* Header atas  */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 80px;

}

header .logo{
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  float: left;
}

header .menu{
  float: right;
  margin-top: 5px;
  opacity: 100%;
  padding-right: 100px;
}

header ul li{
  display: inline-block;
}

header ul li a{
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  margin: 0 25px;
  font-weight: 300;
  letter-spacing: 1;
}
  
/* tombol register */
header .menu #register{
  background-color : #23c4e8;
  border-radius: 25px;
  font-size: 2vh;
  text-align: center;
}

header .menu #register:hover{
  background-color:  #ffc107;
  color: white;
}